{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block head %}
    <title>TÍTULO </title>
    {% endblock %}

  </head>

  <body>


    <!--<div class="navbar-fixed">-->
      <!--<nav class=" black darken-4 z-depth-4">-->
        <!--<div class="nav-wrapper">-->
          <!---->
           <!--&lt;!&ndash;<ul id="nav-mobile" class="right hide-on-med-and-down">&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="sass.html">Sass</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="badges.html">Components</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="collapsible.html">JavaScript</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--</div>-->
      <!--</nav>-->
    <!--</div>-->


    {% block body %}
    {% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>



    <script src="{% static 'js/jquery.particleground.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>


  </body>
</html>
